/*
本文件仅用于覆盖现有的一些样式，例如bootrap默认的a标签的样式、input样式等等。
如果是自定义的业务组件，需要在./helpers中体现
*/
@import "./variables.scss";
@import "./common.scss";

a {
  color: $brandGreen;
  text-decoration: none;

  &:hover {
    color: $brandGreen;
    text-decoration: underline;
  }
}

a.no-hover:hover {
  color: inherit;
  text-decoration: none;
}

a.disabled {
  color: #a4a4a4 !important;
  text-decoration: none;
  cursor: default;
}

.form-control {
  border-radius: 0;
  color: $dark;

  &:disabled {
    background-color: #eeeeee !important;
    border: none !important;
  }
}

/* input start */
::-webkit-input-placeholder {
  font-size: 14px;
  color: #acacac;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input.form-control {
  height: 32px;

  &:focus {
    outline: 0;
    box-shadow: none;
    border-color: #ffb900;
  }

  &.form-control-xs {
    height: 26px;
    padding: 0 7px;
    font-size: 14px;
  }
  &.form-control-lg {
    height: 40px;
    font-size: 16px;
  }
}

.input-group-append {
  .input-group-text {
    border-radius: 0;
    padding: 0 12px;
    background-color: #f9f9f9;
  }
}

/* input end */

.custom-control-indicator {
  top: 2px;
}

.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: $brandGreen;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px $brandGreen;
}

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px $brandGreen;
}

.custom-select.form-control {
  border: solid 1px #d1d1d1;
  font-size: 14px;
  border-radius: 0px !important;
  background-size: 16px;
  background-image: url(~assets/img/arrow-down.png);
  background-color: #f9f9f9;

  &:disabled {
    background-color: #f9f9f9;
    background-image: none;
  }

  &.form-control-lg.custom-select-lg {
    height: 40px;
  }
}

.b-form-group {
  .col-form-label {
    padding-bottom: 4px;
  }

  .form-text {
    font-size: 14px;
  }
}

// radio 的按钮有些偏下，这里修复下
.custom-radio {
  font-size: 16px;
  color: #6f6f6f;

  .custom-control-label {
    &::before {
      top: 3px;
    }

    &::after {
      box-sizing: border-box;
      top: 4px;
      left: -23px;
      height: 14px;
      width: 14px;
      border-radius: 100%;
      background-color: #fff;
    }
  }

  .custom-control-input {
    outline: none;
  }

  // check状态下的样式
  .custom-control-input:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: $brandYellow !important;
        box-shadow: none;
      }

      &::after {
        border: 3px solid #fff;
        background-color: $brandYellow;
        background-image: none;
      }

      span {
        color: $black;
      }
    }
  }
}

// 自定义checkbox的样式
.custom-checkbox {
  margin-right: 20px;

  .custom-control {
    margin-right: 0;
  }

  .custom-control-indicator {
    background: transparent;
    border: solid 1px $brandGreen;
    border-radius: 0;
    width: 16px;
    height: 16px;
  }

  .custom-control-label {
    padding-top: 5px;
  }

  .custom-control-label::before {
    top: 8px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid $brandGreen;
  }

  .custom-control-label::after {
    top: 8px;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $brandGreen;
  }
}

a.dropdown-item {
  &:hover {
    color: #feb132;
  }
  &:focus {
    outline: none;
  }
}

.table {
  margin-bottom: 0px;
  background: #ffffff;

  tbody {
    tr:first-child {
      td {
        border-top-width: 0px;
      }
    }
  }
  thead {
    th {
      background: #f9f9f9;
      border-top: 0px !important;
      border-bottom: 1px solid #e9e9e9;
      color: #192330;
      font-size: 14px;
      font-weight: 500;
      line-height: 59px;
      min-height: 59px;
      padding: 0;
    }
  }
  td {
    border-color: #eee;
    text-align: center;
    vertical-align: middle;
    color: #6f6f6f;
    font-size: 12px;
    padding: 14px 0;
  }
}

.table.b-table > tfoot > tr > th.sorting:after,
.table.b-table > tfoot > tr > th.sorting:before,
.table.b-table > thead > tr > th.sorting:after,
.table.b-table > thead > tr > th.sorting:before {
  line-height: unset;
  content: "";
  margin-right: 5%;
}

.table.b-table > tfoot > tr > th.sorting.sorting_asc:before,
.table.b-table > thead > tr > th.sorting.sorting_asc:before {
  right: .75em;
  content: "\2193";
}

.table.b-table > tfoot > tr > th.sorting.sorting_desc:before,
.table.b-table > thead > tr > th.sorting.sorting_desc:before {
  right: .75em;
  content: "\2193";
}

.table.b-table > tfoot > tr > th.sorting.sorting_desc:after,
.table.b-table > thead > tr > th.sorting.sorting_desc:after {
  right: .25em;
  content: "\2191";
}

.table.b-table > tfoot > tr > th.sorting.sorting_asc:after,
.table.b-table > thead > tr > th.sorting.sorting_asc:after {
  right: .25em;
  content: "\2191";
}

// pagination
.pagination {
  padding: 18px 30px;
  margin-bottom: 0;
  justify-content: center;

  .page-item {
    position: relative;
    margin: 0 6px;
    min-width: 14px;
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-right: 0;
      margin-left: 15px;
    }
    &.disabled {
      opacity: 0.5 !important;
    }
    &.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2.5px;
      right: 2.5px;
      height: 2px;
      background-image: linear-gradient(to left, #22e6b8, #00c1ce);
    }
    .page-link {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      color: #6f6f6f;
      padding: 0;
      border: none !important;
      background: none !important;
      &.active {
        color: #192330;
        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }
  &.sample {
    .page-item {
      min-width: 80px;
      text-align: center;
      &:first-child {
        margin-right: 15px;
      }
    }
    .page-link {
      cursor: pointer;
    }
  }
}

.breadcrumb {
  background: transparent;
  padding-left: 0;
}

.breadcrumb-item.active {
  color: $dark;
}

.breadcrumb-item + .breadcrumb-item:before {
  color: $gray;
  content: ">";
}

/* tooltip */
.tooltip .arrow::before {
  border-top-color: #fdf5e6;
}

.tooltip-inner {
  max-width: 210px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fdf5e6;
  color: #000000;
  box-shadow: 4px 4px 8px 0 #e9e9e9;
}

/* tooltip */

/* alert */
.alert {
  position: fixed;
  z-index: 2000;
  width: 500px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  text-align: center;

  .close {
    padding: 6px 12px;
  }
}

/* alert */

.b-form-group {
  .form-text {
    font-size: 14px;
  }
}

// 列表没有圆角
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

// popover
$sideList: top right bottom left;
.popover {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #fdf5e6;
  color: #000000;
  box-shadow: 4px 4px 8px 0 #e9e9e9;
  .popover-header {
    background-color: transparent;
    border-bottom: none;
    font-size: 14px;
    font-weight: 500;
    color: #192330;
  }
  @each $side in $sideList {
    &.bs-popover-#{$side}{
      .arrow::before,.arrow::after {
        border-#{$side}-color: #fdf5e6;
      }
    }
  }
}
