$brandGreen:#52cbca;
$brandYellow: #feb132;
$brightYellow: #ffbc32;
$black:#192330;
$dark:#27313e;
$gray:#6f6f6f;
$lightGray: #9f9f9f;
$red:#e45555;
$darkRed: #d2495a;

@mixin fs($val:14px){
    font-size: $val !important
}

